{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bien venue</h1>

    <h2>{{ titre }}</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorum explicabo fugiat quam, quod rerum sint
        tempore. Cumque dolore, eaque enim eos error explicabo id ipsum laborum laudantium molestiae nesciunt nulla
        obcaecati, optio quaerat, quo sed sit suscipit temporibus veniam.
    </p>

    <p>Amet commodi consectetur consequatur
        consequuntur dolores eaque earum eos excepturi expedita, impedit in maiores minima molestiae nobis quae quaerat
        repudiandae sequi sint tempora unde vel veniam voluptate! Ab aut consequatur distinctio dolore fugiat incidunt natus
        pariatur similique soluta, vero voluptatum?
    </p>

{% endblock %}