
<p>
    Bonjour {{ utilisateur.getNomUtilisateur() }} {{ utilisateur.getPrenom()}}, <br>
    Votre compte est crée le {{ utilisateur.getDateAjout() | date ('Y/m/d') }}
    <br><br>
    Cordialement.


</p>
<br><br>

<h4>COQUETTE</h4>
<h6>18 square Jean Lurçat 91390 Morsang Sur Orge</h6>
<h6>coquette@contact.fr</h6>
<h6>06 01 37 00 31</h6>
<br>
<img src="{{ email.image('@images/coquette_logo.png') }}" hwidth="200" height="200" alt="Coquette">
