
<p>
    Bonjour {{ commande.utilisateur.nomUtilisateur }} {{ commande.utilisateur.prenom }}, <br>
    Votre commande numéro {{ commande.id }} est validé. <br> <br>

    Nous préparons votre commande. <br><br>

    Cordialement.
</p>
