<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--
    -->
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{  asset('uploads/images/coquette_logo.png') }}" height="60px" style="margin-top: 0; padding: 0" alt="Coquette">
    </a>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('liste_produits') }}">HOMMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FEMMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ENFANTS</a>
            </li>

            <li class="dropdown">
                <a data-toggle="dropdown" href="#">HOMME<b class="caret"></b></a>
                <ul class="dropdown-menu jqueryFadeIn">
                    <li><a href="#"><span class="fa fa-bar-chart-o"></span> Tableau de bord</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Pr&eacute;sentation</a></li>
                    <li class="dropdown-submenu">
                        <a data-toggle="dropdown"tabindex="-1" href="#"><span class="fa fa-cogs"></span> Param&eacute;trage</a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="fa fa-bar-chart-o"></span> Liste des soci&eacute;t&eacute;s</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Creer une soci&eacute;t&eacute;</a></li>
                            <li><a href="#"><span class="fa fa-cogs"></span> Modifier une soci&eacute;t&eacute;</a></li>
                            <li><a href="#"><span class="fa fa-cogs"></span> Supprimer une soci&eacute;t&eacute;</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">RECHERCHER</button>
        </form>
    </div>
</nav>


<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
